<div>
  <ng-content select="h3"></ng-content>
  <form (ngSubmit)="onNgForm(form.value)" #form="ngForm">
    <label>
      Email address
      <input type="email" name="email" ngModel id="email" #email />
    </label>
    <label>
      Password
      <input type="password" name="password" ngModel />
    </label>
    <ng-content select="app-remember-me"></ng-content>
    <app-message></app-message>
    <ng-content select="button"></ng-content>
    <button style="margin-left: 10px" type="reset" #reset>Reset</button>
  </form>
</div>
`
